# Discord settings
DISCORD_TOKEN=MTQyMTU0Nzk0OTIyNTE0ODYyOA.G985Iu.ND5icQIUzP2_UygHtEHkcEsB6pULI-2IbdXvKE
DISCORD_CLIENT_ID=1421547949225148628
# Optional: if registering in a single server for testing, set GUILD_ID to speed up command availability
GUILD_ID=
# Channel ID to mirror standup posts to (copy of old HUBOT_STANDUP_COPY_ROOM idea)
STANDUP_CHANNEL_ID=